div.viewFooter{
    width: calc(100% - 4px);
    height: 39px;
    bottom: 0;
    left: 0;
    background: #eeeeee;
    margin-top: 164px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.titleFooter{
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
    font-size: 12px;
}